.App {
  text-align: center;
}

.App-logo {
  height: 100vmin;
}

.Game {
  background-color: orange;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-Index: 1;
  position: relative;
}

.Game-Board {
	position: absolute;
	height:100%;
	width:100%;
}

.Player {
  z-Index: 1000;
  position: absolute;
}